# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
budget_table = school_data_complete[["school_name", "budget"]]
budget_table.head()
update_table = budget_table.drop_duplicates()
update_table.head()
Total_budget = update_table["budget"].sum()

Count_schools = len(school_data_complete["school_name"].unique())
Total_Students = len(school_data_complete["Student ID"].unique())

#budgetlist = school_data_complete["budget"].unique()
#Total_budget = budgetlist.sum()
#Total_budget
Avg_Math = school_data_complete["math_score"].mean()
Avg_Reading =school_data_complete["reading_score"].mean()
Overall_Rate = (Avg_Math+Avg_Reading)/2

students_Passmath = school_data_complete.loc[school_data_complete["math_score"]>=70, ["student_name", "math_score"]]
Number_studentsPassmath = len(students_Passmath)
Percent_PassMath = (Number_studentsPassmath/Total_Students)*100
Percent_PassMath
students_Passread = school_data_complete.loc[school_data_complete["reading_score"]>=70, ["student_name", "reading_score"]]
Number_studentsPassread = len(students_Passread)
Percent_PassReading = (Number_studentsPassread/Total_Students)*100
Percent_PassReading

District_Summary = pd.DataFrame({"Total Schools": Count_schools, "Total Students":Total_Students, "Total Budget": Total_budget,
                                "Average Math Score": Avg_Math, "Average Reading Score": Avg_Reading, 
                                "% Passing Math": [Percent_PassMath], "% Passing Reading": [Percent_PassReading], 
                                "% Overall Passing Rate": [Overall_Rate]})

#District_Summary["Total Budget"] = District_Summary["Total Budget"].astype(float).map("${:,.2f}".format)
#District_Summary["Total Students"] = District_Summary["Total Students"].map("{:,}".format)
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [3]:

School_Summarydata = school_data_complete.groupby("school_name")
School_Type = School_Summarydata["type"].unique()
School_size = School_Summarydata["size"].unique()
Total_Students = School_Summarydata["Student ID"].count()
Total_Budget = School_Summarydata["budget"].unique()
Per_StudentBudget = (Total_Budget/Total_Students)
Avg_MathScore = School_Summarydata["math_score"].mean()
Avg_ReadScore = School_Summarydata["reading_score"].mean()

School_MathPassing = school_data_complete.loc[school_data_complete["math_score"]>=70,["school_name","Student ID", "math_Score"]]
StudentCount_PassMath = School_MathPassing.groupby("school_name")
Students_PassMath = StudentCount_PassMath["Student ID"].count()
Percent_PassMath = (Students_PassMath/Total_Students)*100

School_ReadPassing = school_data_complete.loc[school_data_complete["reading_score"]>=70,["school_name","Student ID", "reading_Score"]]
StudentCount_PassRead = School_ReadPassing.groupby("school_name")
Students_PassRead = StudentCount_PassRead["Student ID"].count()
Percent_PassRead = (Students_PassRead/Total_Students)*100
Overall_Rate = (Percent_PassMath + Percent_PassRead)/2

School_Summary = pd.DataFrame({"School Type": School_Type, "Total Students": Total_Students, "Total School Budget":Total_Budget, 
                              "Per Student Budget": Per_StudentBudget, "Average Math Score": Avg_MathScore, 
                              "Average Reading Score": Avg_ReadScore, "% Passing Math": Percent_PassMath, 
                              "% Passing Reading": Percent_PassRead, "% Overall Passing Rate": Overall_Rate})

#School_FinalSummary = pd.DataFrame({"School Type": School_Type, "Total Students": Total_Students, "Total School Budget":Total_Budget, 
                              #"Per Student Budget": Per_StudentBudget, "Average Math Score": Avg_MathScore, 
                              #"Average Reading Score": Avg_ReadScore, "% Passing Math": Percent_PassMath, 
                              #"% Passing Reading": Percent_PassRead, "% Overall Passing Rate": Overall_Rate, "School Size": School_size})
#School_FinalSummary.head()

C:\Users\maria\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [4]:
#sort
#freedom_df = happiness_df.sort_values("Freedom", ascending=False)

School_SummaryUpdate = School_Summary.sort_values("% Overall Passing Rate", ascending=False)
School_SummaryUpdate.head()
#School_SummaryUpdate.dtypes
#School_SummaryUpdate["Total School Budget"] = School_SummaryUpdate["Total School Budget"].astype(float).map("${:,.2f}".format)
#School_SummaryUpdate["Total Students"] = School_SummaryUpdate["Total Students"].map("{:,}".format)
#School_SummaryUpdate["Per Student Budget"] = School_SummaryUpdate["Per Student Budget"].astype(float).map("${:,.2f}".format)
#School_SummaryUpdate.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
School_SummaryUpdate = School_Summary.sort_values("% Overall Passing Rate", ascending=True)
#School_SummaryUpdate["Total School Budget"] = School_SummaryUpdate["Total School Budget"].astype(float).map("${:,.2f}".format)
#School_SummaryUpdate["Total Students"] = School_SummaryUpdate["Total Students"].map("{:,}".format)
#School_SummaryUpdate["Per Student Budget"] = School_SummaryUpdate["Per Student Budget"].astype(float).map("${:,.2f}".format)
#School_SummaryUpdate.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:

NinthGrade_data = school_data_complete.loc[school_data_complete["grade"]=="9th", ["school_name", "math_score"]]
NinthGrade_data = NinthGrade_data.groupby("school_name")
Avg_MathNinthGrade = NinthGrade_data["math_score"].mean()
TenthGrade_data = school_data_complete.loc[school_data_complete["grade"]== "10th", ["school_name", "Student ID", "math_score"]]
TenthGrade_data = TenthGrade_data.groupby("school_name")
Avg_MathTenthGrade = TenthGrade_data["math_score"].mean()
EleventhGrade_data = school_data_complete.loc[school_data_complete["grade"]== "11th", ["school_name", "Student ID", "math_score"]]
EleventhGrade_data = EleventhGrade_data.groupby("school_name")
Avg_MathEleventhGrade = EleventhGrade_data["math_score"].mean()
TwelfthGrade_data = school_data_complete.loc[school_data_complete["grade"]== "12th", ["school_name", "Student ID", "math_score"]]
TwelfthGrade_data = TwelfthGrade_data.groupby("school_name")
Avg_MathTwelfthGrade = TwelfthGrade_data["math_score"].mean()

MathScore_byGrade = pd.DataFrame({"9th": Avg_MathNinthGrade,"10th":Avg_MathTenthGrade, "11th":Avg_MathEleventhGrade, 
                                 "12th": Avg_MathTwelfthGrade})
MathScore_byGrade.head(15)

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
NinthGrade_data = school_data_complete.loc[school_data_complete["grade"]=="9th", ["school_name", "reading_score"]]
NinthGrade_data = NinthGrade_data.groupby("school_name")
Avg_ReadNinthGrade = NinthGrade_data["reading_score"].mean()

TenthGrade_data = school_data_complete.loc[school_data_complete["grade"]== "10th", ["school_name", "Student ID", "reading_score"]]
TenthGrade_data = TenthGrade_data.groupby("school_name")
Avg_ReadTenthGrade = TenthGrade_data["reading_score"].mean()
EleventhGrade_data = school_data_complete.loc[school_data_complete["grade"]== "11th", ["school_name", "Student ID", "reading_score"]]
EleventhGrade_data = EleventhGrade_data.groupby("school_name")
Avg_ReadEleventhGrade = EleventhGrade_data["reading_score"].mean()
TwelfthGrade_data = school_data_complete.loc[school_data_complete["grade"]== "12th", ["school_name", "Student ID", "reading_score"]]
TwelfthGrade_data = TwelfthGrade_data.groupby("school_name")
Avg_ReadTwelfthGrade = TwelfthGrade_data["reading_score"].mean()

ReadingScore_byGrade = pd.DataFrame({"9th": Avg_ReadNinthGrade,"10th":Avg_ReadTenthGrade, "11th":Avg_ReadEleventhGrade, 
                                 "12th": Avg_ReadTwelfthGrade})
ReadingScore_byGrade.head(15)

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [8]:
school_data_complete["spend per student"] = (school_data_complete ["budget"])/(school_data_complete["size"])
school_data_complete.head()
School_Spend = school_data_complete[["spend per student", "math_score", "reading_score", "Student ID" ]]
School_Spend.head()
Total_Students = len(School_Spend["Student ID"].unique())

bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

pd.cut(School_Spend["spend per student"], [0, 585, 615, 645, 675], labels=group_names)
School_Spend["Spend Range"] = pd.cut(School_Spend["spend per student"],[0, 585, 615, 645, 675],labels=group_names)
School_Spend.head()
Total_Students_bySpend = School_Spend.groupby("Spend Range")
Total_Students_bySpendUpdate = Total_Students_bySpend["Student ID"].count()

PassingMath_bySpend = School_Spend.loc[School_Spend["math_score"] >=70, ["Spend Range", "Student ID", "math_score"]]
PassMath_bySpend = PassingMath_bySpend.groupby("Spend Range")
Number_studentsPassMath = PassMath_bySpend["Student ID"].count()
PercentPassMath_bySpend = (Number_studentsPassMath/Total_Students_bySpendUpdate)*100
PercentPassMath_bySpend
PercentPassMath_bySpend

PassingRead_bySpend = School_Spend.loc[School_Spend["reading_score"] >=70, ["Spend Range", "Student ID", "reading_score"]]
PassRead_bySpend = PassingRead_bySpend.groupby("Spend Range")
Number_studentsPassRead = PassRead_bySpend["Student ID"].count()
PercentPassRead_bySpend = (Number_studentsPassRead/Total_Students_bySpendUpdate)*100
PercentPassRead_bySpend
OverallPass_bySpend = (PercentPassMath_bySpend + PercentPassRead_bySpend)/2
OverallPass_bySpend

C:\Users\maria\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

Spend Range
<$585       95.194724
$585-615    95.005509
$615-645    77.507599
$645-675    73.670105
Name: Student ID, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [37]:

SchoolSpend = School_SummaryUpdate[["Per Student Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading",
                           "% Overall Passing Rate"]]
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
pd.cut(SchoolSpend["Per Student Budget"], [0, 585, 615, 645, 675], labels=group_names)
SchoolSpend["Spending Ranges(Per Student)"] = pd.cut(SchoolSpend["Per Student Budget"],[0, 585, 615, 645, 675],labels=group_names)
SchoolSpendgrouped = SchoolSpend.groupby("Spending Ranges(Per Student)")
SchoolSpendgrouped.mean()
#StudentsPassMath_byspend = SchoolSpend.loc[SchoolSpend["% Passing Math"]>=70, ["% Passing Math"]]

# Avg_MathbySpend = SchoolSpend["Average Math Score"].mean()
# Avg_MathbySpend
# Avg_ReadingbySpend = SchoolSpend["Average Reading Score"].mean()
# Avg_ReadingbySpend
# Total_Studentsbyspend = SchoolSpend["% Passing Math"].count()
# PercentPassMath_bySpend = (Number_studentsPassMath/Total_Students_bySpendUpdate)*100
# #PercentPassMath_bySpend


# By_Spend_Summary =pd.DataFrame ({"Average Math Score": Avg_MathbySpend,
#                                 "Average Reading Score": Avg_ReadingbySpend, "% Passing Math": PercentPassMath_bySpend, 
#                                 "% Passing Reading": PercentPassRead_bySpend, "% Overall Passing Rate": OverallPass_bySpend})
# By_Spend_Summary.head()
# PercentPassMath_bySpend

C:\Users\maria\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges(Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.

In [34]:
Scores_by_size = school_data_complete[["size", "math_score", "reading_score", "Student ID" ]]
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

pd.cut(Scores_by_size["size"], [0, 1000, 2000, 5000], labels=group_names)
Scores_by_size["School Size"] = pd.cut(Scores_by_size["size"],[0, 1000, 2000, 5000],labels=group_names)
Scores_by_size
Total_Students_bysize = Scores_by_size.groupby("School Size")
Total_Students_bysizeUpdate = Total_Students_bysize["Student ID"].count()
#AvgMath_bysize = Total_Students_bysize["math_score"].mean()
#AvgRead_bysize = Total_Students_bysize["reading_score"].mean()

PassingMath_bySize = Scores_by_size.loc[Scores_by_size["math_score"]>=70, ["School Size", "Student ID", "math_score"]]
PassMath_bysize = PassingMath_bySize.groupby("School Size")
Number_PassMath_bysize = PassMath_bysize["Student ID"].count()
Percent_PassMath_bysize = (Number_PassMath_bysize/Total_Students_bysizeUpdate)*100
Percent_PassMath_bysize

PassingRead_bySize = Scores_by_size.loc[Scores_by_size["reading_score"]>=70, ["School Size", "Student ID", "reading_score"]]
PassRead_bysize = PassingMath_bySize.groupby("School Size")
Number_PassRead_bysize = PassRead_bysize["Student ID"].count()
Percent_PassRead_bysize = (Number_PassRead_bysize/Total_Students_bysizeUpdate)*100
Percent_PassRead_bysize

#method 2 for calc average scores (inaccurate method)
Scores_by_size2 = School_SummaryUpdate[["Total Students","Average Math Score", "Average Reading Score"]]
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
pd.cut(Scores_by_size2["Total Students"], [0, 1000, 2000, 5000], labels=group_names)
Scores_by_size2["School Size"] = pd.cut(Scores_by_size2["Total Students"],[0, 1000, 2000, 5000],labels=group_names)
Scores_by_size2update = Scores_by_size2.groupby("School Size")
AvgMath_bysize = Scores_by_size2update["Average Math Score"].mean()
AvgRead_bysize = Scores_by_size2update["Average Reading Score"].mean()
OverallPass_Rate_bysize = (Percent_PassMath_bysize+Percent_PassRead_bysize)/2


Scores_bySize_Summary = pd.DataFrame ({"Average Math Score": AvgMath_bysize, "Average Reading Score": AvgRead_bysize,
                                      "% Passing Math": Percent_PassMath_bysize, "% Passing Reading": Percent_PassRead_bysize,
                                      "Overall Passing Rate": OverallPass_Rate_bysize})
Scores_bySize_Summary

C:\Users\maria\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\maria\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.952484,93.952484,93.952484
Medium (1000-2000),83.374684,83.864438,93.616522,93.616522,93.616522
Large (2000-5000),77.746417,81.344493,68.652380,68.652380,68.652380

## Scores by School Type

* Perform the same operations as above, based on school type.

In [35]:
Score_by_Schooltype = school_data_complete.groupby("type")
AvgMath_bySchooltype = Score_by_Schooltype["math_score"].mean()
AvgRead_bySchooltype = Score_by_Schooltype["reading_score"].mean()
TotalStudents_byType = Score_by_Schooltype["Student ID"].count()

PassMath_bySchooltype = school_data_complete.loc[school_data_complete["math_score"]>=70, ["Student ID", "math_score", "type"]]
PassMath_bySchooltypeUpdate = PassMath_bySchooltype.groupby("type")
Number_PassMath_bytype = PassMath_bySchooltypeUpdate["Student ID"].count()
Percent_PassMath_bytype = (Number_PassMath_bytype/TotalStudents_byType)*100
Percent_PassMath_bytype

PassRead_bySchooltype = school_data_complete.loc[school_data_complete["reading_score"]>=70, ["Student ID", "reading_score", "type"]]
PassRead_bySchooltypeUpdate = PassRead_bySchooltype.groupby("type")
Number_PassRead_bytype = PassRead_bySchooltypeUpdate["Student ID"].count()
Percent_PassRead_bytype = (Number_PassRead_bytype/TotalStudents_byType)*100
Percent_PassRead_bytype
OverallPass_bySchooltype = (Percent_PassMath_bytype+Percent_PassRead_bytype)/2

Scores_by_SchoolType = pd.DataFrame({"Average Math Score": AvgMath_bySchooltype, "Average Reading Score": AvgRead_bySchooltype,
                                    "% Passing Math": Percent_PassMath_bytype, "% Passing Reading": Percent_PassRead_bytype,
                                    "%Overall Passing Rate": OverallPass_bySchooltype})
Scores_by_SchoolType.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818